{% extends "base.html" %}
{% block title %} {{ user.username}} {% endblock %}
{% block content %}
        <h2>
          {{ user.username}}
        </h2>
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}
            <form method="post" action="{% url 'users:edit_user' %}">
              {% csrf_token %}
              {% for field in form %}
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.field.required %}
                    <span class="required text-danger">*</span>
                  {% endif %}
                </label>
                {{ field }} 
                {% if field.help_text %}
                  <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}
                <br><br>
              {% endfor %}
                <button type="submit">
                  Внести измененния
                </button>
            </form>
            <form method="delete" action="{% url 'users:delete_user' %}">
              <button type="submit">Удалить</button>
            </form>
            
{% endblock %}